* {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #252525;
    font-size: 18px;
    color: #fff;
    font-family: sans-serif;
    overflow: hidden;
    height: 100vh;
}

body {
    display: block;
}

button:focus {
    filter: brightness(120%);
}